@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --fg-main: whitesmoke;
  --fg-supl: rgba(255, 255, 255, 0.5);
}

body {
  background: #13132a;
  color: var(--fg-main);
  max-width: 700px;
  margin: 16px auto;
  padding: 0 16px;
  font-family: "Ubuntu Mono", monospace;
}

.lang-btn {
  user-select: none;
  float: right;
  color: var(--fg-supl);
  padding: 10px;
}

.selected-lang {
  color: var(--fg-main);
}

.lang-btn:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: center;
}

div {
  clear: right;
}

@media screen and (max-width: 480px) {
  #about-me {
    flex-direction: column;
  }
}

a {
  display: flex;
  align-items: center;
  transition: color 0.25s;
  padding: 5px 0;
  color: mediumpurple;
}

a:hover {
  color: rgb(255, 192, 98);
}

svg {
  padding-right: 5px;
}

#github:hover {
  color: whitesmoke;
}
#telegram:hover {
  color: lightskyblue;
}
#lastfm:hover {
  color: crimson;
}
#codewars:hover {
  color: brown;
}

ul {
  list-style: "> ";
  padding-left: 1em;
}

li {
  margin-top: 2px;
  text-align: justify;
}

.prompt {
  color: lightgreen;
}

.prompt::before {
  color: var(--fg-supl);
  content: "~ $ ";
}
